/* line 1, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon {
  vertical-align: middle;
  display: inline-block;
}

/* line 2, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon svg {
  vertical-align: baseline;
}

/* line 12, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_icons.css.scss */
span.icon {
  width: 0.8em;
  height: 0.8em;
}

/* line 4, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.wysihtml5-sandbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
#modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: black;
  display: none;
  opacity: 0.6;
}

/* line 18, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal {
  background-color: white;
  width: 550px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 25, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-title {
  border-bottom: 1px solid #cccccc;
  background-color: #f1f1f1;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 110%;
  border-top-radius: 5px;
}
/* line 33, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content {
  padding: 20px;
}
/* line 36, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .tabs {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
/* line 41, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .tabs li {
  display: inline-block;
  list-style-type: none;
}
/* line 45, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .tabs li a {
  background-color: #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 5px 11px;
  display: inline-block;
  margin-right: 6px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}
/* line 56, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .tabs li a.active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 59, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input {
  margin-bottom: 8px;
}
/* line 62, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input label {
  width: 100px;
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  color: #444444;
}
/* line 69, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input input[type="text"] {
  padding: 4px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 13px;
  width: 350px;
  margin: 0;
}
/* line 78, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input.boolean {
  padding-left: 85px;
}
/* line 81, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input.boolean label {
  width: 400px;
}
/* line 85, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .input.radio label.option {
  width: auto;
  margin-right: 15px;
}
/* line 89, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .optional-inputs {
  margin-top: 15px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 97, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .assets-container ul {
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 103, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .assets-container ul li {
  float: left;
  margin: 5px;
  list-style-type: none;
}
/* line 108, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .assets-container ul li a {
  border: 1px solid transparent;
  padding: 2px;
  display: block;
}
/* line 113, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .assets-container ul li a.selected {
  background-color: red;
  border-color: #cccccc;
}
/* line 117, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .assets-container ul li a img {
  display: block;
}
/* line 122, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-uploader {
  text-align: center;
  padding: 15px 0;
}
/* line 126, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-drop-area {
  border: 2px dashed #cccccc;
  height: 50px;
  line-height: 50px;
  color: #777777;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 135, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-button {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
}
/* line 13, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-button.disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 30, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-button:not(.disabled):hover {
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
}
/* line 34, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-button:not(.disabled):active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  background: #71797f;
  background: -webkit-linear-gradient(-90deg, #71797f, #35383b);
  background: -moz-linear-gradient(-90deg, #71797f, #35383b);
  background: linear, -90deg, #71797f, #35383b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
}
/* line 138, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-content .asset-uploader .qq-upload-list {
  display: none;
}
/* line 141, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-footer {
  border-top: 1px solid #cccccc;
  background-color: #f1f1f1;
  padding: 10px 15px;
  text-align: right;
  border-bottom-radius: 5px;
}
/* line 148, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-footer .button {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
}
/* line 13, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button.disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 51, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button:not(.disabled):hover {
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #f1f1f1);
  background: -moz-linear-gradient(-90deg, white, #f1f1f1);
  background: linear, -90deg, white, #f1f1f1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF1F1F1');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF1F1F1');
}
/* line 55, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button:not(.disabled):active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
  border-color: #b9b9b9;
  border-top-color: #c2c2c2;
  border-right-color: #b9b9b9;
  border-bottom-color: #b7b7b7;
  border-left-color: #b9b9b9;
  background: #f3f3f3;
  background: -webkit-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
  background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
  background: linear, -90deg, #f3f3f3, #d8d8d8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3F3F3', endColorstr='#FFD8D8D8');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3F3F3', endColorstr='#FFD8D8D8');
}
/* line 151, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
.activeadmin-wysihtml5-modal .modal-footer .button.primary {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
}
/* line 13, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button.primary.disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 30, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button.primary:not(.disabled):hover {
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
}
/* line 34, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_buttons.css.scss */
.activeadmin-wysihtml5-modal .modal-footer .button.primary:not(.disabled):active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  background: #71797f;
  background: -webkit-linear-gradient(-90deg, #71797f, #35383b);
  background: -moz-linear-gradient(-90deg, #71797f, #35383b);
  background: linear, -90deg, #71797f, #35383b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
}

/* line 15, /Users/sino/.rvm/gems/ruby-2.1.3/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
body.active_admin form .input.wysihtml5:after {
  content: "";
  display: table;
  clear: both;
}
/* line 162, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 {
  float: right;
  width: 89%;
}
/* line 68, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 div, body.active_admin form .activeadmin-wysihtml5 span, body.active_admin form .activeadmin-wysihtml5 object, body.active_admin form .activeadmin-wysihtml5 iframe, body.active_admin form .activeadmin-wysihtml5 h1, body.active_admin form .activeadmin-wysihtml5 h2, body.active_admin form .activeadmin-wysihtml5 h3, body.active_admin form .activeadmin-wysihtml5 h4, body.active_admin form .activeadmin-wysihtml5 h5, body.active_admin form .activeadmin-wysihtml5 h6, body.active_admin form .activeadmin-wysihtml5 p,
body.active_admin form .activeadmin-wysihtml5 pre, body.active_admin form .activeadmin-wysihtml5 a, body.active_admin form .activeadmin-wysihtml5 abbr, body.active_admin form .activeadmin-wysihtml5 acronym, body.active_admin form .activeadmin-wysihtml5 address, body.active_admin form .activeadmin-wysihtml5 code, body.active_admin form .activeadmin-wysihtml5 del, body.active_admin form .activeadmin-wysihtml5 dfn, body.active_admin form .activeadmin-wysihtml5 em, body.active_admin form .activeadmin-wysihtml5 img,
body.active_admin form .activeadmin-wysihtml5 dl, body.active_admin form .activeadmin-wysihtml5 dt, body.active_admin form .activeadmin-wysihtml5 dd, body.active_admin form .activeadmin-wysihtml5 ol, body.active_admin form .activeadmin-wysihtml5 ul, body.active_admin form .activeadmin-wysihtml5 li, body.active_admin form .activeadmin-wysihtml5 fieldset, body.active_admin form .activeadmin-wysihtml5 form, body.active_admin form .activeadmin-wysihtml5 label, body.active_admin form .activeadmin-wysihtml5 legend, body.active_admin form .activeadmin-wysihtml5 caption, body.active_admin form .activeadmin-wysihtml5 tbody, body.active_admin form .activeadmin-wysihtml5 tfoot, body.active_admin form .activeadmin-wysihtml5 thead, body.active_admin form .activeadmin-wysihtml5 tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 71, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
/* line 73, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 caption, body.active_admin form .activeadmin-wysihtml5 th, body.active_admin form .activeadmin-wysihtml5 td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 75, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 q, body.active_admin form .activeadmin-wysihtml5 blockquote {
  quotes: "" "";
}
/* line 126, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 q:before, body.active_admin form .activeadmin-wysihtml5 q:after, body.active_admin form .activeadmin-wysihtml5 blockquote:before, body.active_admin form .activeadmin-wysihtml5 blockquote:after {
  content: "";
}
/* line 77, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-b794f4b7550d/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body.active_admin form .activeadmin-wysihtml5 a img {
  border: none;
}
/* line 167, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > textarea {
  font-size: 13px;
  line-height: 17px;
  width: 100% !important;
}
/* line 172, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > textarea.source {
  font-family: Pragmata, Menlo, "DejaVu LGC Sans Mono", "DejaVu Sans Mono", Consolas, "Everson Mono", "Lucida Console", "Andale Mono", "Nimbus Mono L", "Liberation Mono", FreeMono, "Osaka Monospaced", Courier, "New Courier", monospace;
}
/* line 175, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar {
  position: relative;
  margin-bottom: 5px;
}
/* line 179, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li {
  display: inline-block;
  padding-right: 5px;
}
/* line 183, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector {
  background-color: white;
  background-image: -webkit-linear-gradient(white, #e6e6e6);
  background-image: linear-gradient(white, #e6e6e6);
  padding: 4px 10px;
  display: inline-block;
  line-height: 18px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-left-width: 0;
  text-decoration: none;
  position: relative;
}
/* line 198, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.wysihtml5-command-active, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.wysihtml5-action-active, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.wysihtml5-command-active, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.wysihtml5-action-active {
  background-color: #cdcdcd;
  background-image: -webkit-linear-gradient(#cdcdcd, #e6e6e6);
  background-image: linear-gradient(#cdcdcd, #e6e6e6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
/* line 202, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a:hover, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector:hover {
  background: #e6e6e6;
}
/* line 205, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a:first-child, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector:first-child {
  border-left-width: 1px;
  border-left-radius: 2px;
}
/* line 209, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a:last-child, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector:last-child {
  border-right-radius: 2px;
}
/* line 212, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.bold, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.bold {
  font-weight: bold;
}
/* line 215, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.italic, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.italic {
  font-style: italic;
}
/* line 218, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.underline, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.underline {
  text-decoration: underline;
}
/* line 221, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.ul span, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.ul span {
  margin-top: 2px;
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -264px 0;
}
/* line 224, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.ol span, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.ol span {
  margin-top: 2px;
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -360px -48px;
}
/* line 227, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.outdent span, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.outdent span {
  margin-top: 2px;
  margin-top: 2px;
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -408px -48px;
}
/* line 231, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.indent span, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.indent span {
  margin-top: 2px;
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -384px -48px;
}
/* line 290, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/icons.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.image span:before, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.image span:before {
  content: "";
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -456px -48px;
  margin-right: 4px;
  vertical-align: middle;
}
/* line 290, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/icons.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.video span:before, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.video span:before {
  content: "";
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -192px 0;
  margin-right: 4px;
  vertical-align: middle;
}
/* line 290, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/icons.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.link span:before, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.link span:before {
  content: "";
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -120px -72px;
  margin-right: 4px;
  vertical-align: middle;
}
/* line 290, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/icons.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > a.source span:before, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector.source span:before {
  content: "";
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -24px -24px;
  margin-right: 4px;
  vertical-align: middle;
}
/* line 246, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector {
  position: relative;
}
/* line 249, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector span {
  display: inline-block;
  padding-left: 16px;
  padding-right: 9px;
  position: relative;
}
/* line 255, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector span:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 2px;
  background: url(/assets/activeadmin-wysihtml5/icons.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  display: inline-block;
  background-position: -144px -48px;
}
/* line 261, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector span:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -2px;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: top;
}
/* line 274, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector ul {
  display: none;
  position: absolute;
  z-index: 2;
  top: 28px;
  left: 0px;
  width: 140px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}
/* line 285, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector ul li a {
  padding: 3px 15px;
  display: block;
  text-decoration: none;
  color: #333333;
  text-shadow: none;
}
/* line 292, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector ul li a:hover {
  background-color: #38678b;
  color: white;
}
/* line 296, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar > li > .blocks-selector:hover ul {
  display: block;
}
/* line 301, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar.wysihtml5-commands-disabled > li > a, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar.wysihtml5-commands-disabled > li > .blocks-selector {
  background: #e6e6e6 !important;
  color: #777777;
}
/* line 306, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar.wysihtml5-commands-disabled > li > a:hover, body.active_admin form .activeadmin-wysihtml5 > ul.toolbar.wysihtml5-commands-disabled > li > .blocks-selector:hover {
  background: #e6e6e6 !important;
  color: #777777 !important;
}
/* line 310, /Users/sino/.rvm/gems/ruby-2.1.3/bundler/gems/activeadmin-wysihtml5-35d1a9411a1c/app/assets/stylesheets/activeadmin-wysihtml5/base.css.sass */
body.active_admin form .activeadmin-wysihtml5 > ul.toolbar.wysihtml5-commands-disabled > li > .blocks-selector:hover ul {
  display: none !important;
}
