
    
                  <section id="page-content">
                     <h1 class="page-title">Contact us</h1>
                     <p>អស័យដ្ឋាន
<br>
លេខទូរស័ព្ទៈ (+855) 090 952 963 <br>   
អីមែលៈ gepcnews@gmail.com </p>

        
                     <div id="contact-wrapper">
                        <form method="post" id="contactform">
                           <div class="contact-form-border-input"> <label for="name">Name:<span class="required">*</span></label> <input type="text" size="28" name="contactname" id="contactname" value="" class="required" /></div>
                           <div class="contact-form-border-input"> <label for="email">Email:<span class="required">*</span></label> <input type="text" size="28" name="email" id="email" value="" class="required email" /></div>
                           <div class="contact-form-border"> <label for="message">Message:</label><textarea rows="10" cols="38" name="message" id="message"></textarea></div>
                  <!--          <input type="submit" value="Send Message" name="submit" class="button" /> -->
                        </form>
                     </div>
                     <div class="clearfix"></div>
                     <div class="clearfix"></div>
                  </section>
 