<section id="page-content" style="padding-bottom:160px;">
	<h1 class="page-title">Service</h1>
<h2>១-ផ្ដល់ប្រឹក្សាផ្នែកគ្រប់គ្រងពាណិជ្ជកម្ម</h2>
<ul>
	<li>គ្រប់គ្រងការគ្រប់គ្រងគណនេយ្យ</li>
	<li>គ្រប់គ្រងធនធានបមនុស្ស </li>
	<li>គ្រប់គ្រងផ្នែករដ្ឋបាល និងការិយាល័យ</li>
	<li>គ្រប់គ្រងផ្នែកទីផ្សារ និង អភិវឌ្ឍន៏ផលិតផល </li>
	<li>គ្រប់គ្រងផ្នែកឥណទាន</li>
</ul>
<h2>២-ផ្ដល់ប្រឹក្សាផ្នែកទីផ្សារហិរញ្ញវត្ថុ</h2>

<ul>
<li>ជំនាញផ្សារភាគហ៊ុន (Securities Market)
មូលបត្រ
សញ្ណាប័ណ្ណ</li>
<li>ផ្សារនិស្សន្ទ (Derivatives Market)
Commodities
Financial 
</li>
</ul>

<h2>៣-បង្រៀនឲ្យក្លាយជាអ្នកការងារអាជីព
មានគ្រប់កំរិតលើជំនាញ</h2>
<ul>
<li>គណនេយ្យ</li>
<li>ធនធានមនុស្ស</li>
<li>គ្រប់គ្រងផ្នែករដ្ឋបាល និងការិយាល័យ</li>
<li>ទីផ្សារ</li>
<li>ធនាគារ</li>
<li>ឯលទេសខាថទិញលក់ហាងឆេង</li>
<li>វិភាគតម្លៃហាងឆេងមាស</li>
</ul>
</section>