<!DOCTYPE html>
<html>
<head>
  <title>Stock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	
<link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=PT+Sans:700%7CTitillium+Web:400,700&ver=4.0' type='text/css' media='all' />


               <style type="text/css">.header-top{background-color:#1f2021}header, .sf-menu ul{background-color:#ee5845}body{background-color:#f3f3f4}.content-container, #home-page-content .content-container:hover{background-color:#fff;border-bottom:2px solid #e5e5e6}.content-container:hover{border-bottom-color:#ee5845}body .advertisement-bayside:hover{border-bottom:2px solid #e5e5e6}body a.progression-blue, body input.button, .pagination a.selected, .pagination a:hover, .wpcf7 input.wpcf7-submit, #respond input#submit, .load-more-manual #page-nav a{background:#4b83b0;color:#fff}.header-top a{color:#4b83b0}.header-top a:hover{color:#ddd}body a.progression-blue:hover, body input.button:hover, .wpcf7 input.wpcf7-submit:hover, #respond input#submit:hover, .load-more-manual #page-nav a:hover{background:#4f8ec1}body, .progression-etabs a{color:#777}.sf-menu a, .sf-menu a:hover, .sf-menu a:visited{color:#fff}a{color:#4b83b0}a:hover, #sidebar a:hover h6{color:#4b83b0}h1{color:#2e2f32}h2,h3,h4,h5,h6{color:#424347}h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color:#424347}#sidebar h5{color:#d2d3d3}body #logo img{max-width:40px}.sf-menu a{padding-top:28px;padding-bottom:30px}body .sf-menu li:hover ul, body .sf-menu li.sfHover ul{top:74px}.header-top, .sf-menu, .meta-data-index, .media-overlay, #sidebar h5, #sidebar .time-stamp-sidebar, #sidebar  .progression-tab a,h6.bayside-category{font-family:'Titillium Web',sans-serif}h1, h2, h3, h4, h5, h6, a#jtwt_date, .pagination a, a.progression-button, input.button, .wpcf7 input.wpcf7-submit, ul.progression-toggle li, .progression-etabs, #respond input#submit, .load-more-manual #page-nav a{font-family:'PT Sans',sans-serif}body{font-family:"Helvetica Neue",Helvetica,Arial,Sans-Serif}.col2{width:275px}#page-content,#full-width{background:#fff;border-right:2px solid #e7e7e9;border-bottom:2px solid #e7e7e9}</style>



</head>
<body>

<%= yield %>

</body>
</html>
